html {
  font-size: large;
}

body {
  background-color: rgb(167, 140, 140);
  color: aliceblue;
}

a {
  color: blanchedalmond;
}

a:hover {
  color: rgb(70, 102, 112);
}

a:visited {
  color: rgb(82, 57, 30);
}